*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box; 
 }
.logo-menu {
    display: flex;
    
}


.logo-menu>img {
    height: 70px;
   padding: 0;
    position: left;
}

.menu {
    display: flex;
    align-items: center;
    height: 100%;
}

.menu:hover {
    display: flex;
    align-items: center;
    height: 100%;
    color: aquamarine;
    transition: 500ms;
}

li {
    list-style-type: none;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

.ter:hover {
    text-decoration: none;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: aquamarine;
    transition: 500ms;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10 10px rgba(0, 0, 0, 0.452);
    border-bottom: 1px rgba(0, 0, 0, 0.214) solid;
}

.botao-branco {
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.botao-branco:hover {
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgba(222, 221, 221, 0.678);
    transition: 500ms;
    box-shadow: 2 2 2px rgb(100, 97, 97);
    transform: scale(0.9);
    transition: 500ms;
}

.botao-preto {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 5px 10px;
    background-color: rgb(28, 27, 27);
    color: rgb(255, 255, 255);
    margin-right: 10px;
}

.botao-preto:hover {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 5px 10px;
    background-color: rgb(28, 27, 27);
    color: rgba(226, 222, 222, 0.825);
    margin-right: 10px;
    transition: 500ms;
    box-shadow: 2 2 2px rgb(100, 97, 97);
    transform: scale(0.9);
    transition: 500ms;
}

.login-crie{
 background-color: rgb(255, 255, 255);
 width: 2500px ;
 height: 900px;
 align-items: center;
 margin: 0;
 display: flex;
box-shadow: 3px 0 5px rgba(0, 0, 0, 0.399);
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    display: flex;
    background-color: rgba(236, 231, 231, 0.337);
    justify-content: space-between;
}

 .h11{
    margin: 0;
    padding-top: 20px;
    color: rgb(17, 254, 175);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.h111{
    padding-top: 80px;
   text-align: center;
   
}

.log{
    border: none;
}

.log{
    border-bottom: 2px solid rgb(0, 255, 132);
    padding: 10px;
   width: 350px;
   background-color: rgba(236, 231, 231, 0);
   margin-top: 60px;
}

.preto{
    background-color: rgb(45, 44, 44);
    color: white;
    margin-top: 150px;
    padding-top: 8px;
    padding-bottom: 8px;
   margin-bottom: 20px;
    }

.branco{
   width: 800px;
height: 25px; 
background-color: black;
text-align: center;
background-position: left;
} 

.merg{
   margin-top: 50px;
   margin-bottom: 20px;
}

.agora{
    margin-top: 50px;

    background-color: antiquewhite;
}


